services:
  gateway:
    build:
      context: ./gateway
    container_name: gateway
    ports:
      - "8000:8000"
    networks:
      - big-data-net
    restart: always

  sensor:
    build:
      context: ./sensors
    container_name: sensors
    depends_on:
      - gateway
    env_file:
      - sensors/.env
    environment:
      - GATEWAY_BASE_URL=http://gateway:8000/sensor
    networks:
      - big-data-net
    restart: always

networks:
  big-data-net:
    external: true
